
/*
1 El elemento #cabecera debe tener un relleno de 1em en todos los lados.    √√
2 El elemento #menu debe tener un relleno de 0.5em en todos los lados y un margen inferior y superior de 0.5em.   √√
3 El resto de elementos (#noticias, #publicidad, #principal, #secundario) deben tener 0.1em de relleno 
en todos sus lados, salvo el elemento #pie, que sólo debe tener relleno en la zona superior e inferior.    √√
4 Los elementos .articulo deben mostrar una separación entre ellos de 1em.
5 Las imágenes de los artículos muestran un margen de 0.5em en todos sus lados.      √√
6 El elemento #publicidad está separado 1em de su elemento superior.       √√
7 El elemento #pie debe tener un margen superior de 1em.      √√
*/
/* ------- CONTENEDOR ---------*/
#contenedor {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    /* La URL de la textura es: (buscamos en Google fondos web blue) 
    www.miswallpapers.net/2008-
    2009Walls/varios/wallpaper_97_Blue_lines_1600x1200.jpg */
    background-image: url('../img/textura.jpg');
}

/* ################## CAJAS PRINCIPALES #################### */
#cabecera, #menu, #lateral, #contenido, #principal, #secundario, #pie {
    border: 2px solid #777;
}

#noticias,#publicidad,#principal,#secundario {
    padding: 1em;
}

#cabecera,
#menu {
    clear: both;
}

/* --------- CABECERA ---------*/
#cabecera {
    padding: 1em;
}
#logo {
    float: left;
}

#buscador {
    float: right;
}

/* -------- MENU SUPERIOR -----------*/
#menu {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#menu ul,
#menu li {
    display: inline;
    float: left;
}

/* -------- CAJA LATERAL ----------- */
#lateral {
    float: left;
    width: 20%;
}

#publicidad {
    margin-top: 1em;
}

/* ############ CAJA CONTENIDO ############# */
#contenido {
    float: right;
    width: 78%;
}

/* --------- CAJA PRINCIPAL --------*/
#principal {
    float: left;
    width: 68%;
}

img {
    border: none;
}

.articulo img {
    width: 100px;
    float: left;
    margin: 0.5em;
}

.articulo {
    font-size: 15px;
    padding: 1em;
}

/* -------------- COLUMNA DERECHA -----------*/
#secundario {
    float: right;
    /*se ha cambiado de left a right*/
    width: 25%;
}

/* ############ FIN CAJA CONTENIDO ############# */
/* ------------ CAJA PIE ------------*/
#pie {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

#pie .enlaces {
    float: left;
}

#pie .copyright {
    float: right;
}

/* ######## REGLAS GENÉRICAS ####### */
ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h3,p,form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}
